@tailwind base;
@tailwind components;
@tailwind utilities;

body 
{
     padding: 0;
     margin: 0;
}

html 
{
    scroll-behavior: smooth;
}

.special-effect
{
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.special-effect::after 
{
    content: "";
    position: absolute;
    top: 0%;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #bd5fff;
    animation: animate-effect 0.8s forwards;
}


.special-effect-fast::after {
  animation-duration: 0.5s;
}

.special-effect-medium::after {
  animation-duration: 0.75s;
}

.special-effect-slow::after {
  animation-duration: 1.2s;
}

.special-effect-very-slow::after {
  animation-delay: 0.5s;
}

@keyframes animate-effect {
    0% 
    {
        transform: translateX(-100%);
    }
    100% 
    {
         transform: translateX(101%);
    }
}

.main-text 
{
   animation: mainTextAnimation 1.2s forwards;
}

@keyframes mainTextAnimation {
    0% 
    {
        opacity: 0;
        transform: translateY(100%);
    }
    75%
    {
        opacity: 0;
        transform: translateY(50%);
    }
    100% 
    {
        opacity: 1;
        transform: translateY(0%);
    }
}